<template>
  <div>
    <h2>Form add/edit item</h2>
    <form @submit.prevent="addItem" class="mb-5">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="name" v-model="item.name" ref="search" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="amount" v-model="item.amount" min="0" required>
      </div>
      <button type="submit" class="btn btn-light btn-block mb-2">Save</button>
    </form>
    <h2>Table Items</h2>
    <div class="mt-3 mb-5">
      <button type="button" @click="fetchItemsSort(0)" class="btn btn-primary">Out of stock</button>
      <button type="button" @click="fetchItemsSort(1)" class="btn btn-primary">In stock</button>
      <button type="button" @click="fetchItemsSort(5)" class="btn btn-primary">Amount > 5</button>
    </div>
    <table class="table table-responsive-md btn-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody v-for="item in items" v-bind:key="item.id">
        <tr>
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
          <td>
            <button type="button" @click="deleteItem(item.id)" class="btn btn-danger">Delete</button>
          </td>
          <td>
            <button type="button" @click="editItem(item)" class="btn btn-warning">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        items: [],
        item: {
          id: '',
          name: '',
          amount: ''
        },
        item_id: '',
        edit: false
      }
    },

    created() {
      this.fetchItems();
    },

    methods: {
      fetchItems() {
        fetch('api/items')
          .then(res => res.json())
          .then(json => {
            this.items = json.data;
          })
          .catch(err => console.log(err));
      },
      fetchItemsSort(amount) {
        fetch(`api/items?q=${amount}`)
          .then(res => res.json())
          .then(json => {
            this.items = json.data;
          })
          .catch(err => console.log(err));
      },
      deleteItem(id) {
        if(confirm('Delete?')) {
          fetch(`api/items/${id}`, {
            method: 'delete'
          })
          .then(res => res.json())
          .then(json => {
            alert('Item deleted');
            this.fetchItems();
          })
          .catch(err => console.log(err));
        }
      },
      addItem() {
        if(this.edit === false) {
          // Add
          fetch('api/items', {
            method: 'post',
            body: JSON.stringify(this.item),
            headers: {
              'content-type': 'application/json'
            }
          })
          .then(res => res.json())
          .then(json => {
            this.item.name = '';
            this.item.amount = '';
            alert('Item Added');
            this.fetchItems();
          })
          .catch(err => console.log(err));
        } else {
          // Update
          fetch('api/items', {
            method: 'put',
            body: JSON.stringify(this.item),
            headers: {
              'content-type': 'application/json'
            }
          })
          .then(res => res.json())
          .then(json => {
            this.item.name = '';
            this.item.amount = '';
            this.item.item_id = '';
            this.edit = false;
            alert('Item Updated');
            this.fetchItems();
          })
          .catch(err => console.log(err));
        }
      },
      editItem(item) {
        this.edit = true;
        this.item.id = item.id;
        this.item.item_id = item.id;
        this.item.name = item.name;
        this.item.amount = item.amount;
        this.setFocus();
      },
      setFocus() {
        this.$refs.search.focus();
      }
    }
  }

</script>
